<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <title th:text="#{title}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">

    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/apple-touch-icon.ico" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/lib/jquery/jquery.loadingModal.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

<!--==========================
  Header
============================-->
<div th:fragment="common-header">
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="/#intro" class="scrollto" th:text="#{head.title}"></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="/img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/#intro" th:text="#{navigation.home}"></a></li>
                    <li><a href="/#services" th:text="#{navigation.benefits}"></a></li>
                    <li><a href="/#portfolio" th:text="#{navigation.offer}"></a></li>
                    <li><a href="/#contact" th:text="#{order.now}"></a></li>
                    <li class="menu-has-children"><a href="" th:text="#{navigation.language}"></a>
                        <ul>
                          <li><a href="#" id="en" class="locale">English</a></li>
                          <li><a href="#" id="fr" class="locale">Français</a></li>
                          <li><a href="#" id="nl" class="locale">Flemish</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
</div>

<!--==========================
  Intro Section
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/intro-carousel/1.jpg" alt="CNH-PARTS"></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 th:text="#{main.masks.name}"></h2>
                            <p th:text="#{main.masks.descr}"></p>
                            <a href="#contact" class="btn-get-started scrollto" th:text="#{order.now}"></a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="/img/intro-carousel/2.jpg" alt="Belgium warehouse"></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 th:text="#{main.protect.name}"></h2>
                            <p th:text="#{main.protect.descr}">
                            </p>
                            <a href="#contact" class="btn-get-started scrollto" th:text="#{order.now}"></a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="/img/intro-carousel/3.jpg" alt="Uzbekistan warehouse">
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 th:text="#{main.cert.name}"></h2>
                            <p th:text="#{main.cert.descr}"></p>
                            <a href="#contact" class="btn-get-started scrollto" th:text="#{order.now}"></a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only" th:text="#{previous}"></span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only" th:text="#{next}"></span>
            </a>

        </div>
    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box box-bg">
                    <i class="ion-bug"></i>
                    <h4 class="title"><a href="" th:text="#{main.masks.name}"></a></h4>
                    <p class="description" th:text="#{main.masks.descr}"></p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="ion-ios-stopwatch-outline"></i>
                    <h4 class="title"><a href="" th:text="#{main.antivirus}"></a></h4>
                    <p class="description" th:text="#{main.protect.name} + ' ' + #{main.protect.descr}"></p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="ion-ios-heart-outline"></i>
                    <h4 class="title"><a href="" th:text="#{main.cert.name}"></a></h4>
                    <p class="description" th:text="#{main.cert.descr}"></p>
                </div>

            </div>
        </div>
    </section><!-- #featured-services -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3 th:text="#{navigation.benefits}"></h3>
                <p th:text="#{reasons.subtitle}"></p>
            </header>

            <div class="row">

                <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-body-outline"></i></div>
                    <h4 class="title"><a href="#contact" th:text="#{reasons.kn95.title}"></a></h4>
                    <ul class="description" th:utext="#{reasons.kn95.subtitle}">
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                    <h4 class="title"><a href="#contact" th:text="#{reasons.feature.title}"></a></h4>
                    <ul class="description" th:utext="#{reasons.feature.subtitle}">
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    <h4 class="title"><a href="#contact" th:utext="#{reasons.instruction.title}"></a></h4>
                    <ul class="description" th:utext="#{reasons.instruction.subtitle1}">
                    </ul>
                    <ul class="description instruction">
                        <img src="/img/masks/instruction.jpg" alt="instruction"/>
                    </ul>
                    <ul class="description" th:utext="#{reasons.instruction.subtitle2}">
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-alert-circled"></i></div>
                    <h4 class="title"><a href="#contact" th:text="#{reasons.warning.title}"></a></h4>
                    <ul class="description" th:utext="#{reasons.warning.subtitle}">
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- #services -->

    <!--==========================
     Portfolio Section
   ============================-->
    <section id="portfolio"  class="section-bg" >
        <div class="container">

            <header class="section-header">
                <h3 class="section-title" th:text="#{navigation.offer}"></h3>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active" th:text="#{gallery.all}"></li>
                        <li data-filter=".filter-mask" th:text="#{gallery.masks}">Masks</li>
                        <li data-filter=".filter-cert" th:text="#{gallery.cert}"></li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-mask wow fadeInUp" th:each="photo: ${masks}">
                    <div class="portfolio-wrap">
                        <figure>
                            <img th:src="'/img/masks/' + ${photo}" class="img-fluid" alt="KN95 face mask">
                            <a th:href="'/img/masks/' + ${photo}" data-lightbox="portfolio" data-title="KN95 face mask" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><span th:text="#{gallery.mask.name}"></span></h4>
                            <p th:text="#{gallery.mask.descr}"></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-cert wow fadeInUp" th:each="cert: ${certificates}">
                    <div class="portfolio-wrap">
                        <figure>
                            <img th:src="'/img/certs/' + ${cert}" class="img-fluid" alt="Uzbekistan warehouse">
                            <a th:href="'/img/certs/' + ${cert}" class="link-preview" data-lightbox="portfolio" data-title="Certificate" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><span th:text="#{gallery.cert.name}"></span></h4>
                            <p th:text="#{gallery.cert.descr}"></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #portfolio -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <h3 th:text="#{ordernow.title}"></h3>
            <p th:text="#{ordernow.subtitle}"></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">5 <span th:text="#{price.masks}"></span></th>
                        <th scope="col">10 <span th:text="#{price.masks}"></span></th>
                        <th scope="col">25 <span th:text="#{price.masks}"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            $$$ <span th:text="#{price.permask}"></span>
                        </td>
                        <td>
                            $$$ <span th:text="#{price.permask}"></span>
                        </td>
                        <td>
                            $$$ <span th:text="#{price.permask}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="cta-btn" href="#contact" th:text="#{order.now}"></a>
        </div>
    </section><!-- #call-to-action -->


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3 th:text="#{order.now}"></h3>
                <p th:text="#{orderform.description}"></p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Address</h3>
                        <address>Rue de la Legende 47,
                            Zoning Artisanal de Cornemont,
                            B-4141 Louveigne (SPRIMONT),
                            BELGIUM
                        </address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3 th:text="#{phone}"></h3>
                        <p><a href="tel:+32 4 257 71 98">+32 4 257 71 95</a></p>
                        <p><a href="tel:+32 471 61 43 88">+32 471 61 43 88</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3 th:text="#{email}"></h3>
                        <p><a href="mailto:info@kn95-online.store​">sales@kn95-online.store​</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="errormessage"></div>
                <div id="sendmessage" th:text="#{orderform.done}"></div>
                <!--/*@thymesVar id="orderForm" type="com.cpssurplus.domains.forms.OrderForm"*/-->
                <form th:action="@{/async/sendMail}" method="post" role="form" th:object="${orderForm}" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <select required class="form-control" th:field="*{title}" name="title" id="title">
                                <option th:value="#{mr}" th:text="#{mr}"></option>
                                <option th:value="#{mrs}" th:text="#{mrs}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <input type="text" th:field="*{firstName}" name="firstName" class="form-control" id="name"
                                   th:placeholder="#{orderform.name}" data-rule="minlen:2"
                                   th:attr="data-msg=#{orderform.error.name}"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-5">
                            <input type="text" th:field="*{surname}" name="surname" class="form-control" id="surname"
                                   th:placeholder="#{orderform.surname}" data-rule="minlen:2"
                                   th:attr="data-msg=#{orderform.error.name}"/>
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="email" th:field="*{email}" class="form-control" name="email" id="email"
                                   th:placeholder="#{orderform.email}" data-rule="email"
                                   th:attr="data-msg=#{orderform.error.email}"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" th:field="*{phone}" class="form-control" name="phone" id="phone"
                                   th:placeholder="#{orderform.phone}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" th:field="*{qty}" class="form-control" name="qty" id="qty"
                               th:placeholder="#{orderform.qty}" min="5"/>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" th:field="*{houseNr}" class="form-control" name="houseNr" id="houseNr"
                                   th:placeholder="#{orderform.houseNr}" data-rule="required" th:attr="data-msg=#{orderform.error.houseNr}"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" th:field="*{street}" class="form-control" name="street" id="street"
                                   th:placeholder="#{orderform.street}" data-rule="required" th:attr="data-msg=#{orderform.error.street}"/>
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{town}" name="town"
                               th:placeholder="#{orderform.town}"
                               data-rule="required" th:attr="data-msg=#{orderform.error.town}"/>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{country}" name="country"
                               th:placeholder="#{orderform.country}"
                               data-rule="required" th:attr="data-msg=#{orderform.error.country}"/>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" th:field="*{comment}" name="message" rows="5"
                                  th:placeholder="#{orderform.comments}"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row disclaimer">
                            <div class="col-lg-12">
                                <h4 class="disclaimer-title" th:utext="#{footer.disclaimer.title}"></h4>
                            </div>
                            <div class="col-lg-12">
                                <p class="disclaimer-body" th:utext="#{footer.disclaimer.body}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="gdpr" name="subscribe">
                        <label class="form-check-label" for="gdpr" th:text="#{orderform.gdpr.title}"></label><br/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="disclaimer" name="subscribe" value="true">
                        <label class="form-check-label" for="disclaimer" th:text="#{orderform.disclaimer.tick}"></label>
                    </div>
                    <div class="align-center">
                        <button type="submit" class="btn btn-success" id="submitOrder" disabled="disabled" th:text="#{orderform.order}"></button>
                    </div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer" th:fragment="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3 th:text="#{head.title}"></h3>
                    <p th:text="#{head.subtitle}"></p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4 th:text="#{footer.links}"></h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#intro" th:text="#{navigation.home}"></a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#services" th:text="#{navigation.benefits}"></a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#portfolio" th:text="#{navigation.offer}"></a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#contact" th:text="#{order.now}"></a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4 th:text="#{footer.contact}"></h4>
                    <p>
                        Rue de la Legende 47 <br/>
                        Zoning Artisanal de Cornemont <br/>
                        B-4141 Louveigne (SPRIMONT) <br/>
                        BELGIUM <br/>
                        <strong th:text="#{phone} + ':'"></strong> Office: +32 4 257 71 95; Mobile: +32 471 61 43 88<br>
                        <strong th:text="#{email} + ':'"></strong><a href="mailto:info@kn95-online.store "> info@kn95-online.store</a>​<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-shopping-cart"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright" th:text="#{copyright}">
        </div>
    </div>
</footer><!-- #footer -->

<div th:fragment="scripts">
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/superfish/hoverIntent.js"></script>
    <script src="/lib/superfish/superfish.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="/lib/jquery/jquery.loadingModal.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="/js/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>
</div>

</body>
</html>
