<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <title>CPS KN95 Masks</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">

    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/apple-touch-icon.ico" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/lib/jquery/jquery.loadingModal.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

<!--==========================
  Header
============================-->
<div th:fragment="common-header">
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="/#intro" class="scrollto">KN95 Masks for you</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="/img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/#intro">Home</a></li>
                    <li><a href="/#services">Your benefits while ordering from us</a></li>
                    <li><a href="/#portfolio">What we offer</a></li>
                    <li><a href="/#contact">Order now</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
</div>

<!--==========================
  Intro Section
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/intro-carousel/1.jpg" alt="CNH-PARTS"></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>KN95 Face masks</h2>
                            <p>We offer genuine high-quality certified KN95 face masks, which protect you from viruses.</p>
                            <a href="#contact" class="btn-get-started scrollto">Order now</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="/img/intro-carousel/2.jpg" alt="Belgium warehouse"></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Protect yourself</h2>
                            <p>Wearing of a face masks keeps you safe from virus spread and helps protect others.
                            </p>
                            <a href="#contact" class="btn-get-started scrollto">Order now</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="/img/intro-carousel/3.jpg" alt="Uzbekistan warehouse">
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Certified quality</h2>
                            <p>All of the sold items are 100% high-quality certified face masks.</p>
                            <a href="#contact" class="btn-get-started scrollto">Order now</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box">
                    <i class="ion-bug"></i>
                    <h4 class="title"><a href="">KN95 Face masks</a></h4>
                    <p class="description">We offer genuine high-quality certified KN95 face masks, which protect you from viruses.</p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="ion-ios-stopwatch-outline"></i>
                    <h4 class="title"><a href="">Stop the virus spread</a></h4>
                    <p class="description">Protect yourself. Wearing of a face masks keeps you safe from virus spread and helps protect others.</p>
                </div>

                <div class="col-lg-4 box">
                    <i class="ion-ios-heart-outline"></i>
                    <h4 class="title"><a href="">Certified quality</a></h4>
                    <p class="description">All of the sold items are 100% high-quality certified face masks.</p>
                </div>

            </div>
        </div>
    </section><!-- #featured-services -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Key reasons to order from us</h3>
                <p>We offer the best for our customers!</p>
            </header>

            <div class="row">

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                    <h4 class="title"><a href="#contact">One of a kind</a></h4>
                    <p class="description">CNH-PARTS.DISCOUNT is the only web-site being supported and authorized by
                        CNH Industries Corp to consolidate
                        surplus stocks of CNH (Case, New Holland) spare parts,
                        located in South East Asia, Europe & Middle East.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                    <h4 class="title"><a href="#contact">A wide range of spare parts</a></h4>
                    <p class="description">After registration offer free access to widest range of
                        constantly update inventories of surplus stocks of GENUINE,
                        unused CNH spare parts applicable to Agriculture and
                        Construction machinery of CNH brands.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    <h4 class="title"><a href="#contact">Great discounts</a></h4>
                    <p class="description">Discounted price (subjected to inventory owner(s))
                        range from 25% 30% to even 50%.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                    <h4 class="title"><a href="#contact">Forwarding cost</a></h4>
                    <p class="description">Competitive forwarding charges from where stock(s) are
                        located to customer.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-people-outline"></i></div>
                    <h4 class="title"><a href="#contact">Serve all your needs</a></h4>
                    <p class="description">In the event that required CNH part(s) are not located
                        as surplus, send us your inquiry to be quoted at best current
                        CNH price.</p>
                </div>

            </div>

        </div>
    </section><!-- #services -->

    <!--==========================
     Portfolio Section
   ============================-->
    <section id="portfolio"  class="section-bg" >
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">What we offer</h3>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-mask">Masks</li>
                        <li data-filter=".filter-cert">Certificate</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-mask wow fadeInUp" th:each="photo: ${masks}">
                    <div class="portfolio-wrap">
                        <figure>
                            <img th:src="'/img/masks/' + ${photo}" class="img-fluid" alt="KN95 face mask">
                            <a th:href="'/img/masks/' + ${photo}" data-lightbox="portfolio" data-title="KN95 face mask" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><span>KN95 Face mask</span></h4>
                            <p>Certified protection mask</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-cert wow fadeInUp" th:each="cert: ${certificates}">
                    <div class="portfolio-wrap">
                        <figure>
                            <img th:src="'/img/certs/' + ${cert}" class="img-fluid" alt="Uzbekistan warehouse">
                            <a th:href="'/img/certs/' + ${cert}" class="link-preview" data-lightbox="portfolio" data-title="Certificate" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><span>Certificate of compliance</span></h4>
                            <p>All masks are certified</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #portfolio -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <h3>Order your mask right away!</h3>
            <p>Stay safe and buy your KN95 face mask from us, with one of the best pricing.</p>
            <a class="cta-btn" href="#contact">Order now</a>
        </div>
    </section><!-- #call-to-action -->


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3>Order now</h3>
                <p>If you want to order something, you can fill up the form with the desired amount of masks you wish to
                    order and your shipping address. As soon as you do so, you will receive an email with account requisites for transferring the payment.
                    As soon as we get your payment, your order will be shipped.
                </p>
            </div>

            <div class="row contact-info">

                <div class="col-md-6">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+32 4 257 71 98">+32 4 257 71 98</a></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:info@kn95-online.store​">info@kn95-online.store​</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="errormessage"></div>
                <div id="sendmessage">Your order successfully created!</div>
                <!--/*@thymesVar id="orderForm" type="com.cpssurplus.domains.forms.OrderForm"*/-->
                <form th:action="@{/async/sendMail}" method="post" role="form" th:object="${orderForm}" class="contactForm">
                    <div class="form-group">
                        <input type="text" th:field="*{name}" name="name" class="form-control" id="name"
                               placeholder="Your Name" data-rule="minlen:2"
                               data-msg="Please enter at least 2 chars"/>
                        <div class="validation"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="email" th:field="*{email}" class="form-control" name="email" id="email"
                                   placeholder="Your Email" data-rule="email"
                                   data-msg="Please enter a valid email"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" th:field="*{phone}" class="form-control" name="phone" id="phone"
                                   placeholder="Your phone"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" th:field="*{qty}" class="form-control" name="qty" id="qty"
                               placeholder="Number of items to order" min="10"/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" th:field="*{shippingAddress}" name="shippingAddress" rows="3"
                                  placeholder="Please enter your shipping address"
                                  data-rule="required" data-msg="Please fill your shipping address"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" th:field="*{comment}" name="message" rows="5"
                                  placeholder="Comments to your order"></textarea>
                    </div>
                    <div class="form-group">
                        To comply with General Data Protection Regulation (GDPR) please tick one of the following options:
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" th:field="*{subscribe}" id="agree" name="subscribe" value="true">
                        <label class="form-check-label" for="agree">Yes, please keep me on your mailing list</label><br/>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" th:field="*{subscribe}" id="notAgree" name="subscribe" value="false">
                        <label class="form-check-label active" for="notAgree">Unsubscribe my details from future mail</label>
                    </div>
                    <div class="align-center">
                        <button type="submit" class="btn btn-success">Order</button>
                    </div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer" th:fragment="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>KN95 Masks</h3>
                    <p>We offer genuine high-quality certified KN95 face masks, which protect you from viruses.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#intro">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#services">Benefits</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#portfolio">What we offer</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#contact">Order now</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Rue de la Legende 47 <br/>
                        Zoning Artisanal de Cornemont <br/>
                        B-4141 Louveigne (SPRIMONT) <br/>
                        BELGIUM <br/>
                        <strong>Phone:</strong> +32 4 257 71 98<br>
                        <strong>Email:</strong><a href="mailto:info@kn95-online.store "> info@kn95-online.store</a>​<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-shopping-cart"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>CPS-Belgium</strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- #footer -->

<div th:fragment="scripts">
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/superfish/hoverIntent.js"></script>
    <script src="/lib/superfish/superfish.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="/lib/jquery/jquery.loadingModal.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="/js/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>
</div>

</body>
</html>
