<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <title th:text="#{title}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">

    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/apple-touch-icon.ico" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/lib/jquery/jquery.loadingModal.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

<!--==========================
  Header
============================-->
<div th:fragment="common-header">
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="/#intro" class="scrollto" th:text="#{head.title}"></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="/img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/#intro" th:text="#{navigation.home}"></a></li>
                    <li><a href="/#services" th:text="#{navigation.benefits}"></a></li>
                    <li><a href="/#portfolio" th:text="#{navigation.offer}"></a></li>
                    <li><a href="/#contact" th:text="#{order.now}"></a></li>
                    <li class="menu-has-children"><a href="" th:text="#{navigation.language}"></a>
                        <ul>
                          <li><a href="#" id="en" class="locale">English</a></li>
                          <li><a href="#" id="fr" class="locale">Français</a></li>
                          <li><a href="#" id="nl" class="locale">Flemish</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
</div>

<!--==========================
  Intro Section
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/intro-carousel/1.jpg" alt="CNH-PARTS"></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 th:text="#{main.masks.name}"></h2>
                            <p th:text="#{main.masks.descr}"></p>
                            <a href="#contact" class="btn-get-started scrollto" th:text="#{order.now}"></a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="/img/intro-carousel/2.jpg" alt="Belgium warehouse"></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 th:text="#{main.protect.name}"></h2>
                            <p th:text="#{main.protect.descr}">
                            </p>
                            <a href="#contact" class="btn-get-started scrollto" th:text="#{order.now}"></a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="/img/intro-carousel/3.jpg" alt="Uzbekistan warehouse">
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 th:text="#{main.cert.name}"></h2>
                            <p th:text="#{main.cert.descr}"></p>
                            <a href="#contact" class="btn-get-started scrollto" th:text="#{order.now}"></a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only" th:text="#{previous}"></span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only" th:text="#{next}"></span>
            </a>

        </div>
    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box">
                    <i class="ion-bug"></i>
                    <h4 class="title"><a href="" th:text="#{main.masks.name}"></a></h4>
                    <p class="description" th:text="#{main.masks.descr}"></p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="ion-ios-stopwatch-outline"></i>
                    <h4 class="title"><a href="" th:text="#{main.antivirus}"></a></h4>
                    <p class="description" th:text="#{main.protect.name} + ' ' + #{main.protect.descr}"></p>
                </div>

                <div class="col-lg-4 box">
                    <i class="ion-ios-heart-outline"></i>
                    <h4 class="title"><a href="" th:text="#{main.cert.name}"></a></h4>
                    <p class="description" th:text="#{main.cert.descr}"></p>
                </div>

            </div>
        </div>
    </section><!-- #featured-services -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3 th:text="#{reasons.title}"></h3>
                <p th:text="#{reasins.subtitle}"></p>
            </header>

            <div class="row">

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                    <h4 class="title"><a href="#contact">One of a kind</a></h4>
                    <p class="description">CNH-PARTS.DISCOUNT is the only web-site being supported and authorized by
                        CNH Industries Corp to consolidate
                        surplus stocks of CNH (Case, New Holland) spare parts,
                        located in South East Asia, Europe & Middle East.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                    <h4 class="title"><a href="#contact">A wide range of spare parts</a></h4>
                    <p class="description">After registration offer free access to widest range of
                        constantly update inventories of surplus stocks of GENUINE,
                        unused CNH spare parts applicable to Agriculture and
                        Construction machinery of CNH brands.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    <h4 class="title"><a href="#contact">Great discounts</a></h4>
                    <p class="description">Discounted price (subjected to inventory owner(s))
                        range from 25% 30% to even 50%.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                    <h4 class="title"><a href="#contact">Forwarding cost</a></h4>
                    <p class="description">Competitive forwarding charges from where stock(s) are
                        located to customer.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-people-outline"></i></div>
                    <h4 class="title"><a href="#contact">Serve all your needs</a></h4>
                    <p class="description">In the event that required CNH part(s) are not located
                        as surplus, send us your inquiry to be quoted at best current
                        CNH price.</p>
                </div>

            </div>

        </div>
    </section><!-- #services -->

    <!--==========================
     Portfolio Section
   ============================-->
    <section id="portfolio"  class="section-bg" >
        <div class="container">

            <header class="section-header">
                <h3 class="section-title" th:text="#{navigation.offer}"></h3>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active" th:text="#{gallery.all}"></li>
                        <li data-filter=".filter-mask" th:text="#{gallery.masks}">Masks</li>
                        <li data-filter=".filter-cert" th:text="#{gallery.cert}"></li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-mask wow fadeInUp" th:each="photo: ${masks}">
                    <div class="portfolio-wrap">
                        <figure>
                            <img th:src="'/img/masks/' + ${photo}" class="img-fluid" alt="KN95 face mask">
                            <a th:href="'/img/masks/' + ${photo}" data-lightbox="portfolio" data-title="KN95 face mask" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><span th:text="#{gallery.mask.name}"></span></h4>
                            <p th:text="#{gallery.mask.descr}"></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-cert wow fadeInUp" th:each="cert: ${certificates}">
                    <div class="portfolio-wrap">
                        <figure>
                            <img th:src="'/img/certs/' + ${cert}" class="img-fluid" alt="Uzbekistan warehouse">
                            <a th:href="'/img/certs/' + ${cert}" class="link-preview" data-lightbox="portfolio" data-title="Certificate" title="Preview"><i class="ion ion-eye"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><span th:text="#{gallery.cert.name}"></span></h4>
                            <p th:text="#{gallery.cert.descr}"></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #portfolio -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <h3 th:text="#{ordernow.title}"></h3>
            <p th:text="#{ordernow.subtitle}"></p>
            <a class="cta-btn" href="#contact" th:text="#{order.now}"></a>
        </div>
    </section><!-- #call-to-action -->


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3 th:text="#{order.now}"></h3>
                <p th:text="#{orderform.description}"></p>
            </div>

            <div class="row contact-info">

                <div class="col-md-6">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3 th:text="#{phone}"></h3>
                        <p><a href="tel:+32 4 257 71 98">+32 4 257 71 98</a></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3 th:text="#{email}"></h3>
                        <p><a href="mailto:info@kn95-online.store​">info@kn95-online.store​</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="errormessage"></div>
                <div id="sendmessage" th:text="#{orderform.done}"></div>
                <!--/*@thymesVar id="orderForm" type="com.cpssurplus.domains.forms.OrderForm"*/-->
                <form th:action="@{/async/sendMail}" method="post" role="form" th:object="${orderForm}" class="contactForm">
                    <div class="form-group">
                        <input type="text" th:field="*{name}" name="name" class="form-control" id="name"
                               th:placeholder="#{orderform.name}" data-rule="minlen:2"
                               th:attr="data-msg=#{orderform.error.name}"/>
                        <div class="validation"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="email" th:field="*{email}" class="form-control" name="email" id="email"
                                   th:placeholder="#{orderform.email}" data-rule="email"
                                   th:attr="data-msg=#{orderform.error.email}"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" th:field="*{phone}" class="form-control" name="phone" id="phone"
                                   th:placeholder="#{orderform.phone}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" th:field="*{qty}" class="form-control" name="qty" id="qty"
                               th:placeholder="#{orderform.qty}" min="10"/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" th:field="*{shippingAddress}" name="shippingAddress" rows="3"
                                  th:placeholder="#{orderform.address}"
                                  data-rule="required" th:attr="data-msg=#{orderform.error.address}"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" th:field="*{comment}" name="message" rows="5"
                                  th:placeholder="#{orderform.comments}"></textarea>
                    </div>
                    <div class="form-group" th:text="#{orderform.gdpr.title}">
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" th:field="*{subscribe}" id="agree" name="subscribe" value="true">
                        <label class="form-check-label" for="agree" th:text="#{orderform.gdpr.yes}"></label><br/>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" th:field="*{subscribe}" id="notAgree" name="subscribe" value="false">
                        <label class="form-check-label active" for="notAgree" th:text="#{orderform.gdpr.no}"></label>
                    </div>
                    <div class="align-center">
                        <button type="submit" class="btn btn-success" th:text="#{orderform.order}"></button>
                    </div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer" th:fragment="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3 th:text="#{footer.masks}"></h3>
                    <p th:text="#{footer.descr}"></p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 th:text="#{footer.links}"></h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#intro" th:text="#{navigation.home}"></a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#services" th:text="#{navigation.benefits}"></a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#portfolio" th:text="#{navigation.offer}"></a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="/#contact" th:text="#{order.now}"></a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4 th:text="#{footer.contact}"></h4>
                    <p>
                        Rue de la Legende 47 <br/>
                        Zoning Artisanal de Cornemont <br/>
                        B-4141 Louveigne (SPRIMONT) <br/>
                        BELGIUM <br/>
                        <strong th:text="#{phone} + ':'"></strong> +32 4 257 71 98<br>
                        <strong th:text="#{email} + ':'"></strong><a href="mailto:info@kn95-online.store "> info@kn95-online.store</a>​<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-shopping-cart"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>CPS-Belgium</strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- #footer -->

<div th:fragment="scripts">
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/superfish/hoverIntent.js"></script>
    <script src="/lib/superfish/superfish.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="/lib/jquery/jquery.loadingModal.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="/js/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>
</div>

</body>
</html>
